body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  -webkit-font-kerning: none;
          font-kerning: none;
  color: #283136;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

a {
  text-decoration: none;
}

.button {
  display: block;
  padding: 16px 16px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  border: none;
  border-radius: 2px;
  background-color: #fb565a;
  box-sizing: border-box;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1) inset;
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.main-header-logo {
  margin-right: 202px;
  align-self: flex-start;
}

.main-header-logo[href] {
  opacity: 1;
}

.main-header-logo[href]:hover,
.main-header-logo[href]:focus {
  opacity: 0.8;
}

.main-header-logo[href]:active {
  opacity: 0.3;
}

.main-header{
  padding-top: 50px;
  background-color: #eeeeee;
}

.flex-container {
  display: flex;
  width: 1160px;
  margin: 0;
  padding: 0;

}

.container-content {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 800px;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  color: #000000;
  background-color: #eeeeee;
  text-transform: uppercase;
}

.navigation-item {
  margin-right: 45px
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  margin: 0;
  padding: 0;
  justify-content: flex-start;
  list-style: none;
}

.navigation-link-basket,
.navigation-link {
  display: block;
  padding-top: 25px;
  padding-bottom: 20px;
  color: #000000;
}

.navigation-link-basket {
  padding-right: 0;
  position: relative;
  padding-left: 50px;
}

.navigation-link-basket::before {
  content: "";
  position: absolute;
  top: 33px;
  left: 10px;
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.navigation-link-basket:hover,
.navigation-link-basket:focus,
.navigation-link:hover,
.navigation-link:focus {
  color: #fb565a;
}

.navigation-link-basket:active,
.navigation-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.navigation-link-current {
  padding-bottom: 4px;
  border-bottom: 2px solid #fb565a;
}

.navigation-list li:nth-child(2) {
    padding-right: 3px;
}

.slider {
  position: relative;
  background-color: #eeeeee;
}

.slider .flex-container {
  display: block;
}

.slider-main {
  width: 1160px;
  margin: 0;
  padding: 0;
  margin-bottom: 80px;
  box-sizing: border-box;
}

.sliders {
  position: relative;
  background-color: #eeeeee;
}

.controls-container {
  position: absolute;
  left: 50%;
  bottom: 105px;
  z-index: 100;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.controls-container label {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}

.controls-container label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 18px;
  height: 18px;
  background: #ffffff;
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 80px;
}

.slider-item {
  display: none;
  margin: 0;
  padding: 68px 0 80px 0;
  background-color: #eeeeee;
  background-repeat: no-repeat;
  background-position: 99% -10px;
}

.slider-item:nth-child(1) {
  background-image: url("../img/nerds-slide1.png");
}

.slider-item:nth-child(2) {
  background-image: url("../img/nerds-slide2.png");
}

.slider-item:nth-child(3) {
  background-image: url("../img/nerds-slide3.png");
}

#slide-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#slide-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#slide-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}



#slide-1:checked ~ .controls-container .controls-container-slide1::before,
#slide-2:checked ~ .controls-container .controls-container-slide2::before,
#slide-3:checked ~ .controls-container .controls-container-slide3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}


#slide-1:hover ~ .controls-container .controls-container-slide1::after,
#slide-2:hover ~ .controls-container .controls-container-slide2::after,
#slide-3:hover ~ .controls-container .controls-container-slide3::after,
#slide-1:focus ~ .controls-container .controls-container-slide1::after,
#slide-2:focus ~ .controls-container .controls-container-slide2::after,
#slide-3:focus ~ .controls-container .controls-container-slide3::after {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.slide-slogan {
  max-width: 600px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
  text-align: left;

  margin: 0;
  margin-bottom: 27px;
}

.slide-content {
  max-width: 430px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  color: #283136;
  margin: 0;
  margin-bottom: 38px;
}


.slide-button {
  display: block;
  width: 240px;
  padding: 16px 0;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.slide-button:hover,
.slide-button:focus {
  background-color: #e74246;
}

.slide-button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.features {
  padding: 0 0 30px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.features-item {
  width: 300px;
  margin-bottom: 50px;
}

.features-item:not(:nth-child(3n)) {
margin-right: 100px;
}

.features-icon {
  border: none;
  background-repeat: no-repeat;
  width: 300px;
  height: 146px;
}

.features-icon-notebook {
  background-image: url("../img/notebook.jpg");
  background-color: #fb565a;
}

.features-icon-mobilephone {
  background-image: url("../img/phones.jpg");
  background-color: #00ca74;
}

.features-icon-presentation {
  background-image: url("../img/presentation.jpg");
  background-color: #efc84a;
}

.features-title{
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 0;
}

.features-item-content {
  width: 280px;
  color: #283136;
  margin-bottom: 33px;
}

.features-item .button {
  width: 160px;
}

.button-red {
  background-color: #fb565a;
}

.button-red:hover,
.button-red:focus {
  background-color: #e74246;
}

.button-red:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.button-green {
  background-color: #00ca74;
}

.button-green:hover,
.button-green:focus {
  background-color: #00bc6c;
}

.button-green:active {
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.3);
}

.button-yellow {
  background-color: #efc84a;
}

.button-yellow:hover,
.button-yellow:focus {
  background-color: #eab534;
}

.button-yellow:active {
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.3);
}

.about .flex-container {
  padding: 40px 0 42px;
  justify-content: space-between;
  position: relative;
  border-top: 2px solid #eeeeee;
}

.about-slogan{
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  width: 700px;
  margin: 0;
  padding: 0;
  margin-top: 35px;
  margin-bottom: 30px;
  color: #000000;
}

.about-text {
  width: 630px;
  margin-bottom: 40px;
  text-align: left;
  color: #283136;
}

.about-text-bold {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  padding: 0;
  margin-bottom: 23px;
  text-transform: uppercase;
  text-align: left;
  color: #283136;
}

.about-list {
  text-align: left;
  color: #283136;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 660px;
}

.about-item {
  position: relative;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  color: #283136;
  padding-left: 35px;
  margin-bottom: 25px;
}

.about-item:last-child {
  margin-bottom: 0;
}

.about-item::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 2px;
  background-color: #fc8e91;
  left: 0px;
  top: 10px;
}

.about-logo {
  width: 360px;
  height: 208px;
  margin-left: 5px;
  margin-bottom: 35px;
  border: none;
  background-color: #fb565a;
  text-align: left;
}

.about-text-bold {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: #000000;
}

.about-text-bold:nth-child(2){
  padding-left: 20px;
  padding-bottom: 15px;
}

.advantages-table-column-top {
  margin: 0;
  padding-bottom: 15px;
  padding-right: 15px;
  padding-left: 5px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  text-align: left;
  color: #000000;
}

.advantages-table-column-top sup {
  font-size: 26px;
}

.advantages-table-column-bottom {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-align: left;
  color: #000000;
  width: 95px;
}

.projects {
  margin: 30px 0 80px;
}

.projects .flex-container {
  list-style: none;
  position: relative;
  flex-wrap: wrap;
  justify-content: flex-start;
  min-height: 180px;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}

.projects-item {
  position: relative;
  height: 180px;
  padding-left: 40px;
}

.projects-item:nth-child(4n+1) {
  padding-left: 0;
}

.projects-item::after {
  content: "";
  position: absolute;
  display: block;
  width: 2px;
  height: 52px;
  background-color: #eeeeee;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -20px;
  top: 50%;
}

.projects-item:nth-child(4n)::after,
.projects-item:last-child::after {
  content: none;
}

.projects-link {
  opacity: 0.2;
}

.projects-link:focus,
.projects-link:hover {
  opacity: 1;
}

.projects-link:active {
  opacity: 0.1;
}

.map {
  position: relative;
  display: flex;
  margin: 0 auto;
  min-height: 416px;
  background: #e9e5dc url("../img/map.jpg") no-repeat center center;
}

.interactive-map {
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.map .flex-container {
  padding-left: 0;
  padding-right: 0;
  padding-top: 55px;
  padding-bottom: 55px;
}

.contacts {
  z-index: 200;
  width: 320px;
  background-color: #ffffff;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  box-sizing: border-box;
}

.contacts-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  text-transform: uppercase;
}

.contacts-description,
.contacts-tel {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  padding: 0;
  margin: 0;
  color: #666666;
  text-decoration: none;
}

.contacts-description {
    padding-bottom: 20px;
}

.phone {
  padding-bottom: 35px;
}

.contacts-button {
  width: 220px;
}

.contacts-button:hover,
.contacts-button:focus {
  background-color: #e74246;
}

.contacts-button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  margin: 0;
  padding: 0;
  text-align: left;
}

.main-footer .flex-container {
  padding-top: 70px;
  padding-bottom: 55px;
}

.friends {
    padding-top: 5px;
    padding-left: 100px;
}

.social-link {
  height: 79px;
  width: 79px;
  background-color: #e1e1e1;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  position: relative;
  display: flex;
  margin: 0;
  margin-right: 10px;
  margin-bottom: 10px;
}

.social-link::after {
  background-repeat: no-repeat;
  margin: auto;
}

.social-vk::after {
  background-image: url("../img/vk-icon.svg");
  content: '';
  height: 15px;
  width: 26px;
}

.social-fb::after {
  background-image: url("../img/fb-icon.svg");
  content: '';
  height: 22px;
  width: 12px;
}

.social-inst::after {
  background-image: url("../img/insta-icon.svg");
  content: '';
  height: 21px;
  width: 21px;
}

.social-link:active::after {
    opacity: 0.3;
}

.social-link:focus,
.social-link:hover {
  background-color: #e74246;
}

.social-link:active {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1) inset;
  background-color: #d7373b;
  background-repeat: no-repeat;
}

.friends-content {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
  text-align: left;
  color: #000000;
}

.friends-discount {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
  padding: 0;
  text-align: left;
  color: #444444;
}

.modal{
  position: fixed;
  z-index: 300;
  background-color: #ffffff;
  box-sizing: border-box;
  box-shadow: 0 20px 40px 0 #636464;
  top: 20%;
  left: 25%;
  display: flex;
  flex-direction: column;
  width: 960px;
  min-height: 590px;
  padding-left: 100px;
  padding-top: 68px;
  padding-right: 80px;
  padding-bottom: 84px;
}

.modal-button-close {
  position: absolute;
  top:78px;
  right: 88px;
  width: 22px;
  height: 22px;
  font-size: 0;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  opacity: 0.3;
}

.modal-button-close::before,
.modal-button-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 25px;
  height: 3px;
  background-color: rgba(215, 55, 59, 1);
}

.modal-button-close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-button-close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal-button-close:focus,
.modal-button-close:hover {
  opacity: 1;
}

.modal-button-close:active {
  opacity: 0.1;
}

.modal {
  display: none;
}
.modal-show {
  display: block;
  -webkit-animation: zoom 0.6s;
          animation: zoom 0.6s;
}
@-webkit-keyframes shake {
  0%,100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}
@keyframes shake {
  0%,100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@-webkit-keyframes zoom {
  from {
  -webkit-transform: scale(0);
          transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoom {
  from {
  -webkit-transform: scale(0);
          transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

.modal-title {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  margin: 0;
  margin-bottom: 40px;
  color: #000000;
}

.half-width {
  width: 360px;
  margin-bottom: 30px;
  margin-right: 40px;
}

.half-width-wrapper {
  display: flex;
  padding-bottom: 3px;
}

.message-container {
  margin-bottom: 50px;
}

.modal-field {
display: flex;
  flex-direction: column;
}

.modal-name{
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  padding-bottom: 10px;
  text-align: left;
  color: #000000;
}

.modal-input {
  width: 360px;
  height: 50px;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: rgba(68, 68, 68, 0.5);
  background-color: #ffffff;
  border: 2px solid #d7dcde;
  border-radius: 2px;
  padding-left: 13px;
  box-sizing: border-box;
}

.modal-input::-webkit-input-placeholder {
    color: rgba(68, 68, 68, 0.5);
   }
.modal-input::-moz-placeholder {
    color: rgba(68, 68, 68, 0.5);
   }

.modal-input:hover {
  color: rgba(68, 68, 68, 0.5);
  border: 2px solid #b4b9bb;
}

.modal-input:focus {
  color: #000000;
  border: 2px solid #000000;
  outline: none;
}

.invalid {
  color: #e74246;
  border-color: #e74246;
}

.textarea {
  width: 760px;
  border: 2px solid #d7dcde;
  padding: 12px 13px;
  height: 115px;
  resize: none;
}

.modal-button-send {
  width: 260px;
  height: 50px;
  background-color: #fb565a;
}

.modal-button-send:hover,
.modal-button-send:focus {
  background-color: #e74246;
}

.modal-button-send:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.page-title {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  text-align: center;
  color: #000000;
  margin: 0;
  padding-top: 70px;
  padding-bottom: 105px;
  margin-bottom: 55px;
  background-color: #eeeeee;
}

catalog-container .flex-container {
  justify-content: space-between;
}

.column-wrapper {
  width: 760px;
  display: flex;
  flex-direction: column;
}

.sorting-flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 35px;
}

.filters {
  width: 300px;
  flex-shrink: 0;
  margin-right: 100px;

}

.filter-section {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  border: none;
}

.filter-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  text-align: left;
  color: #000000;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.range {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-bar {
  height: 2px;
  background: #d7dcde;
}

.range-bar-fill {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-grip {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-grip-min {
    left: 20px;
}

.range-grip-max {
    left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
  font-size: 0;
  padding-bottom: 25px;
}

.price {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-transform: uppercase;
  text-align: left;
  color: #283136;
}

.price-value {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;
  text-align: center;
  background-color: #eeeeee;
  color: #283136;
  border: none;
  border-radius: 2px;
  background: #f1f1f1;
}

.filter-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.filter-section:nth-child(2) .filter-title {
  padding-bottom: 15px;
}

.filter-section:nth-child(3) .filter-title {
  padding-bottom: 15px;
}

.filter-label {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  font-weight: normal;
  padding-left: 37px;
  text-align: left;
  background-repeat: no-repeat;
  position: relative;
  color: #283136;
}

.filter-label:hover {
  color: #000000;
}

.filter-label:disabled {
  color: rgba(40, 49, 54, 0.3);
}

.filter-label::before {
  content: "";
  display: block;
  height: 25px;
  width: 27px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.4;
}

.grid-option .filter-label::before  {
  background-repeat: no-repeat;
}

.grid-option input:checked + .filter-label::before {
  background-image: url(../img/radio-on.svg);
}

.grid-option input:disabled + .filter-label::before {
  opacity: 0.1;
}

.grid-option input:focus + .filter-label::before {
  opacity: 1;
}

.grid-option .filter-label::before {
  background-image: url(../img/radio-off.svg);
}

.specifics-label .filter-label::before {
  background-repeat: no-repeat;
}

.specifics-label input:checked + .filter-label::before {
  background-image: url(../img/checkbox-on.svg);
}

.specifics-label input:disabled + .filter-label::before {
  opacity: 0.1;
}

.specifics-label input:focus + .filter-label::before {
  opacity: 1;
}

.specifics-label .filter-label::before {
  background-image: url(../img/checkbox-off.svg);
}

.filter-label:hover::before {
  opacity: 1;
}

.filter-label:disabled::before {
  opacity: 0.1;
}

.grid-option,
.specifics-label {
  padding-bottom: 15px;
}

.specifics-label:last-child {
  padding-bottom: 25px;
}

.show-button {
  width: 260px;
  color: #000000;
  background-color: #eeeeee;
  cursor: pointer;
  margin-bottom: 55px;
}

.show-button:hover,
.show-button:focus {
  background-color: #dfdfdf;
}

.show-button:active {
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.sorting-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
  margin-right: 265px;
  padding: 0;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  text-align: left;
  color: #000000;
}

.sorting-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sorting-item-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
}

.sorting-item  {
  margin-right: 25px;
}

.sorting-item:first-child {
    padding-left: 0px;
}

.sorting-item:nth-child(3) {
  margin-right: 50px;
}

.sorting-item-link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sorting-item-link:focus,
.sorting-item-link:active {
  color: rgba(0, 0, 0, 1);
}

.sorting-item-current {
  color: #000000;
}

.sorting-item-current:hover,
.sorting-item-current:focus,
.sorting-item-current:active {
  color: #000000;
}

.sorting-dir-link {
  opacity: 0.2;
}
.sorting-dir-link:hover,
.sorting-dir-link:focus {
  opacity: 0.6;
}
.sorting-dir-link:active {
  opacity: 1;
}
.sorting-dir-up {
  opacity: 0.3;
  margin-left: 10px;
}
.sorting-dir-down {
  opacity: 1;
}

.sorting-dir-down:hover,
.sorting-dir-down:focus,
.sorting-dir-down:active {
  opacity: 1;
}

.catalog {
  margin-bottom: 30px;
}

.catalog-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 15px;
  padding: 0;
  list-style: none;
}

.catalog-item {
  position: relative;
  width: 360px;
  height: 616px;
  margin-bottom: 33px;
  margin-right: 40px;
  border-radius: 3px;
}

.catalog-image {
  border-style: inset;
  border: 1px solid rgba(0, 1, 1, 0.1);
  border-top: 0px;
}

/*
.catalog-image:hover {
  border: transparent;
}
*/

.catalog-image img {
  vertical-align: bottom;
  width: 358px;
}

.catalog-item:hover {
  box-shadow: 0 6px 15px 2px rgba(0, 0, 0, 0.25);
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item:hover .catalog-item-desc {
  display: block;
}

.catalog-item-head {
    z-index: 200;
    width: 360px;
    height: 40px;
    opacity: 0.12;
}

.catalog-item:hover .catalog-item-head {
  opacity: 1;
}

.catalog-item-desc {
    position: absolute;
    z-index: 100;
    width: 360px;
    bottom: 0;
    background-color: #eeeeee;
    color: #666666;
    padding-top: 25px;
    padding-bottom: 45px;
    display: none;
}

.catalog-item-title {
  margin: 0;
  margin-bottom: 15px;
  text-align: center;
}

.catalog-item-link {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.catalog-item-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  color: #666666;
  margin: 0 auto;
  max-width: 240px;
  padding-bottom: 30px;
}

.catalog-button {
  background-color: #fb565a;
  margin: 0 auto;
  display: block;
  width: 200px;
}

.catalog-button:hover,
.catalog-button:focus {
  background-color: #e74246;
  color: #ffffff;
}

.catalog-button:active {
  background-color: #d7373b;
  color: #ffffff;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  margin-bottom: 55px;
  margin-top: auto;
}

.pagination-link {
  display: inline-block;
  width: 45px;
  height: 45px;
  font-size: 16px;
  font-weight: 500;
  line-height: 45px;
  margin: 0;
  margin-right: 15px;
  border-radius: 3px;
  text-align: center;
  padding-top: 0;
  text-transform: uppercase;
  color: #000000;
  background-color: #eeeeee;
  text-align: center;
}

.pagination .pagination-link-next {
  width: 255px;
}

.pagination-link:hover {
  background-color: #dfdfdf;
  border-color: transparent;
}

.pagination-link:active {
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1) inset;
}

.pagination-link-current {
  color: #000000;
  background-color: #ffffff;
  border: solid 3px #dbdbdb;
  box-sizing: border-box;
}

.pagination-link-current:hover,
.pagination-link-current:focus,
.pagination-link-current:active {
  color: #000000;
  background-color: #ffffff;
  border: solid 3px #dbdbdb;
  box-shadow: none;
}
